@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (User.Identity is {IsAuthenticated: true })
    {
        <a class="btn btn-primary" asp-page="Lobby/Create">Create Lobby</a>
    }
    else
    {
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    }
</div>