@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ErrorCode != null)
{
    <h1 class="text-danger">Error @Model.ErrorCode</h1>
}
else
{
    <h1 class="text-danger">Error.</h1>
}

@if (Model.ErrorMessage != null)
{
    <h2 class="text-danger">@Model.ErrorMessage</h2>
}
else
{
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<a asp-page="Index" class="btn btn-primary">Go Home</a>
<a href="https://github.com/hertelukas/cards/issues/new/choose" class="btn btn-primary">Report Issue</a>